@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.form-box {
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}
.container.active .form-box {
    right: 50%;
}
.form-box.register {
    visibility: hidden;
}
.container.active .form-box.register {
    visibility: visible;
}

.toggle-box::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    background: #a78bfa;
    z-index: 2;
    left: -250%;
    border-radius: 150px;
    transition: 1.8s ease-in-out;
}
.container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}
.container.active .toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-right {
    right: -50%;
    transition-delay: .6s;
}
.container.active .toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

@media (max-width: 800px) {
    .container {
        height: calc(100vh - 40px);
    }
    .form-box {
        width: 100%;
        height: 70%;
        bottom: 0;
    }
    .container.active .form-box {
        right: 0;
        bottom: 30%;
    }
    .toggle-box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }
    .container.active .toggle-box::before {
        top: 70%;
    }
    .toggle-panel {
        width: 100%;
        height: 30%;
    }
}